@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@media print {
  body * { visibility: hidden; }
  #print-report, #print-report * { visibility: visible; }
  #print-report { position: absolute; left: 0; top: 0; width: 100%; }
  nav { display: none !important; }
  button { display: none !important; }
  .no-print { display: none !important; }
}
html {
  overflow-y: scroll;
}